development:
  jira:
    connection:
      username:
      password:
      site: https://metrics-challenge.atlassian.net:443
      context_path: ''

test:
  jira:
    connection:
      site: https://metrics-challenge.atlassian.net
      context_path: ''
